# Copia este archivo como .env.local y rellena con tus datos de Supabase
# Los encuentras en: https://supabase.com → tu proyecto → Settings → API

NEXT_PUBLIC_SUPABASE_URL=https://vxpdcfqdykdlyreyrepo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4cGRjZnFkeWtkbHlyZXlyZXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyODY2NzAsImV4cCI6MjA5Mzg2MjY3MH0.d-A5G1vzctAWKp1sUUjW6vby9TPdLH5zgMVejXWG3cs
